doctype html
html(lang='en')

    head
        include modules/shared/shared.view.jade

    body
        //- Module 1
        include modules/module_1/module_1.view.jade

        //- Module 2
        include modules/module_2/module_2.view.jade

        //- Module 3
        include modules/module_3/module_3.view.jade
