.lana-someone
    fill havelock-blue

    path:last-child
        fill danube

.lana-something
    fill pastel-green

    path:last-child
        fill pastel-groon

// Buttons
.btn-slidebar
    background-color nebula
    border-radius 5px
    height 5px
    left 50%
    position absolute
    transform translateX(-50%)
    width 25px
    will-change transform
