// Visiblity
.transparent
	opacity 0
	will-change opacity

.opaque
	opacity 1
	will-change opacity

.off
	transform translate3d(-9999px, 0, 0)
	will-change transform

.on
	transform translate3d(0, 0, 0)
	will-change transform

// Text Align
.text-left
	text-align left

.text-right
	text-align right

.text-center
	text-align center

.text-upper
	text-transform uppercase

// Shapes
.round
	border-radius 50%
